body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.calendar-title{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.calendar-table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}
.calendar-table th{
    background-color: #0fb09a;
    color:white;
    padding: 12px;
    border: 1px solid #dbdbdb;
}
.calendar-table td{
    width: 14%;
    height: 100px;
    vertical-align: top;
    padding: 10px;
    border: 1px solid #DBDBDB;
    font-weight: bold;
}
.calendar-table p{
    font-weight: normal;
    font-size: 14px;
    margin: 5px 0;
}
.calendar-link{
text-align: center;
margin-top: auto;
}
.event-day{
background-color: #F2DBE0;
}
header {
    background-color: #0fb09a;
    color: #333;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #E9F0E9;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    display: inline;
}
nav a {    
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {    
    background-color: #DBDBDB;
    color: black;
}
main {
    padding: 20px;
}
button {
    background-color: #F2DBE0;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover { 
    background-color: #DBDBDB;
}
footer {
    background-color: #F2DBE0;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#welcome {
    text-align: center;
    margin-top: 50px;
    background-color: #FCFCF6;
    border: 1px solid #DBDBDB;
}
img.header-image {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
#about {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background-color: #FCFCF6;
    border: 1px solid #DBDBDB;
}
.event-form {
  max-width: 500px;
  margin: 30px auto;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.event-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.event-form input,
.event-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}
.event-card a {
    color: #dc9522;
    font-weight: bold;
    text-decoration: none;
}

.event-card a:hover {
    text-decoration: underline;
}
.event-card h2 {
    color: #0077b6;
}
.event-card h2 {
    color: rgb(239, 241, 136);
    background-color: #0a0a0a;
    padding: 10px;
    border-radius: 5px;
}